@font-face {
	font-family: 'DKCrayonCrumble';
	src: url('../font/DKCrayonCrumble.ttf');
}
.chalk-font {
	font-family: 'DKCrayonCrumble', 'Georgia', serif;
}
#app {
	background: url('../img/grasshalf.png') no-repeat center;
	background-size: cover;
	padding: 30px;
	min-height: 1000px;
}

body {
	background-color: #001c00;
	font-family: 'Roboto', sans-serif;
}
#title {
	text-align: center;
	font-size: 40px;
	color: white;
}
#account-container {
	position: absolute;
	top: 30px;
	right: 30px;
	height: 50px;
	text-align: center;
	line-height: 46px;
	color: white;
}
.subtitle {
	color: white;
	font-size: 20px;
	text-align: center;
}
.main-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.menu-item {
	background-image: url('../img/football-nolaces.png');
	background-size: contain;
	width: 100px;
	height: 60px;
	position: relative;
	line-height: 55px;
}
.menu-item:hover {
	width: 123px;
	height: 72px;
	margin: -6px -12px;
	cursor: pointer;
	font-size: 1.2em;
	line-height: 65px;
}
.menu-item .menu-item-title {
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
}
table {
	table-layout: auto !important;
}
table th {
	cursor: pointer;
}

.draft-container {
	display: flex;
	flex-direction: row;
}

.draft-container .draft-sequence {
	width: 40%;
}
.draft-container .draft-teams {
	width: 60%;
}
