@font-face {
	font-family: 'DKCrayonCrumble';
	src: url('../font/DKCrayonCrumble.ttf');
}
.chalk-font {
	font-family: 'DKCrayonCrumble', 'Georgia', serif;
}
#app {
	background-image: url('../img/grasshalf.png');
	width: 938px;
	height: 1080px;
	margin: 0 auto;
	top: 30px;
	position: relative;
}
#app-wrapper {
	width: 998px;
	height: 1140px;
	margin: 0 auto;
	position: relative;
}
#chalk-border-top, #chalk-border-bottom, #chalk-border-left, #chalk-border-right {
	background-image: url('../img/chalk-border.png');
	position: absolute;
}
#chalk-border-top, #chalk-border-bottom {
	height: 998px;
	width: 30px;
	left: 484px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 100;
}
#chalk-border-top {
	top: -484px;
}
#chalk-border-bottom {
	bottom: -484px;
}
#chalk-border-left, #chalk-border-right {
	top: 0;
	height: 100%;
	width: 30px;
	z-index: 50;
}
#chalk-border-left {
	left: 0;
}
#chalk-border-right {
	right: 0;
}

body {
	background-color: black;
}
#title {
	text-align: center;
	font-size: 40px;
	color: white;
}
#account-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 150px;
	text-align: center;
	line-height: 46px;
	color: white;
}
.subtitle {
	color: white;
	font-size: 20px;
	text-align: center;
}
.main-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.menu-item {
	background-image: url('../img/football.png');
	background-size: contain;
	width: 100px;
	height: 60px;
	position: relative;
}
.menu-item:hover {
	width: 124px;
	height: 72px;
	margin: -6px -12px;
	cursor: pointer;
	font-size: 1.2em;
}
.menu-item .menu-item-title {
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
}
